.footer__container {
    display: flex;
    justify-content: center;
    padding-top: 111px;
    padding-bottom: 137px;
    @media screen and (max-width: 850px) {
        flex-wrap: wrap;
    }
    .footer__services-container {
        display: flex;
        flex-direction: column;
        max-width: 1228px;
        @media screen and (max-width: 1330px) {
            max-width: 1095px;
        }
        @media screen and (max-width: 1095px) {
            max-width: 795px;
        }
        @media screen and (max-width: 850px) {
            max-width: 595px;
        }
        @media screen and (max-width: 650px) {
            max-width: 495px;
            flex-wrap: wrap;
            justify-content: center; 
        }
        @media screen and (max-width: 560px) {
            max-width: 395px;
            flex-wrap: wrap;
            justify-content: center; 
        }
        &:last-child {
            padding-left: 134px;
            @media screen and (max-width: 1095px) {
                padding-left: 34px;
            }
            @media screen and (max-width: 850px) {
                padding-left: 34px;
                padding-top: 40px;
                flex-direction: row;
            }
        }
        &:not(:first-child) {
            @media screen and (max-width: 1095px) {
                padding-left: 31px;
            }
        }
        &:nth-child(3) {
            @media screen and (max-width: 650px) {
                display: flex;
                flex-direction: row;
            }
        }
        .footer__services-card {
            padding-left: 20px;
            @media screen and (max-width: 1095px) {
                padding-left: 10px;
            }
            @media screen and (max-width: 850px) {
                padding-left: 10px;
            }
            &:last-child {
                padding-top: 30px;
            }
            h3 {
                font-weight: 700;
                font-size: $footer-fz;
                line-height: 31px;
                padding-bottom: 20px;
            }
            ul {
                li {
                    &:not(:first-child) {
                        padding-top: 15px;
                    }
                    a {
                        font-weight: 500;
                        font-size: $header-secondary-fz;
                        line-height: 21px;
                        color: $text-secondary-color;
                        text-decoration: none;
                    }
                }
            }
        }
        .footer__services-contacts {
            &:first-child {
                @media screen and (max-width: 850px) {
                    padding-right: 60px;
                }
            }
            &:nth-child(2) {
                @media screen and (max-width: 850px) {
                    padding-right: 45px;
                }
            }
            &:last-child {
                @media screen and (max-width: 850px) {
                    max-width: 395px;
                    flex-wrap: wrap;
                    justify-content: center; 
                }
            }
            p {
                font-weight: 500;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 1px;
                text-transform: uppercase;
                opacity: 0.5;
                padding-bottom: 10px;
            }
            .footer__contacts-links {
                margin-bottom: 15px;
                @media screen and (max-width: 850px) {
                    max-width: 180px;
                }
                a {
                    font-weight: 700;
                    font-size: $footer-fz;
                    line-height: 31px;
                    color: $text-secondary-color;
                    text-decoration: none;
                }
            }
            .footer__contacts-button {
                padding: 15px 25px 14px 25px;
                max-width: 164px;
                background-color: $secondary-bg-color;
                margin-top: 30px;
                a {
                    font-weight: 500;
                    font-size: $header-secondary-fz;
                    line-height: 16px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    white-space: nowrap;
                    color: $text-main-color;
                    text-decoration: none;
                }
            }
            .first__contacts-button {
                margin-bottom: 30px;
            }
        }
    }
    .services-container {
        &:not(:first-child) {
            padding-left: 191px;
            @media screen and (max-width: 850px) {
                padding-left: 31px;
            }
        }
    }
}