$main-bg-color: #4FBFA5;
$header-bg-color: #FFFFFF;
$secondary-bg-color: #00868A;
$text-main-color: #FFFFFF;
$text-secondary-color: #000000;
$header-main-fz: 16px;
$header-secondary-fz: 14px;
$text-fz: 18px;
$footer-fz: 21px;